
service: machen

provider:
  name: aws
  runtime: python3.8
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:GetObject
      Resource: "arn:aws:s3:::olneyhymnbots/*"

# you can overwrite defaults here
  stage: prod
  region: us-east-1

  environment:
    CONSUMER_KEY: ${ssm:machen_consumer_key}
    CONSUMER_SECRET: ${ssm:machen_consumer_secret}
    TOKEN: ${ssm:machen_token_key}
    TOKEN_SECRET: ${ssm:machen_token_secret}

functions:
  hello:
    handler: tweet.tweet

    events:
      - schedule: rate(963 minutes)


